<%= simple_form_for(@hack) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :chapeau %>
    <%= f.input :titre %>
    <%= f.input :description %>
    <%= f.input :titre_deux %>
    <%= f.input :description_deux %>
    <%= f.input :titre_trois %>
    <%= f.input :description_trois %>

    <%= f.input :titre_quatre %>
    <%= f.input :description_quatre %>

    <%= f.input :tag_un %>
    <%= f.input :tag_deux %>
    <%= f.input :tag_trois %>
    <%= f.input :categorie_une %>
    <%= f.input :qualite %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
