<p id="notice"><%= notice %></p>

<h1>Hacks</h1>

<form action="/hacks/search">
    <input type="text" name="query" placeholder="Chercher un hack..."/>
</form>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Categorie une</th>
      <th>Qualite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hacks.each do |hack| %>
      <tr>
        <td><%= hack.titre %></td>
        <td><%= hack.description %></td>
        <td><%= hack.categorie_une %></td>
        <td><%= hack.qualite %></td>
        <td><%= link_to 'Show', hack %></td>
        <td><%= link_to 'Edit', edit_hack_path(hack) %></td>
        <td><%= link_to 'Destroy', hack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hack', new_hack_path %>
